<!DOCTYPE html>
<html lang="he" dir="rtl">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>חדר <%= roomNumber %></title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    </head>

    <body>
        <!-- Put this immediately inside <body> on home.html, room-schedule.html, room-form.html, room.ejs, messages.html, etc. -->

        <nav class="navbar navbar-expand-lg calm-navbar fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home.html"><i class="fa fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" id="nav-schedule">טבלת חדרים</a></li>
                        <li class="nav-item"><a class="nav-link" id="nav-edit">עריכה</a></li>
                        <li class="nav-item"><a class="nav-link" id="nav-messages">הודעות</a></li>
                        <li class="nav-item"><a class="nav-link" id="nav-signout">התנתק/י</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="height: 56px;"><!-- spacer for fixed navbar height --></div>

        <div class="container-lg mt-5 pt-5">
            <nav class="navbar navbar1 mb-4">
                <% if(roomNumber==='מטבח') { %>
                <h3>מטבח</h3>
                <% } else { %>
                <h3>חדר <%= roomNumber %></h3>
                <% } %>
                <button class="btn btn-link back-btn"><i class="fa fa-home fa-1x"></i></button>
            </nav>
            <div class="calendar-container mb-4">
                <div class="calender-item">
                    <%= moment().tz('Asia/Jerusalem').format('HH:mm') %>
                </div>
            </div>
            <div class="status-container">
                <% if(currentTherapist) { %>
                <span class="text-success">
                    <%= currentTherapist.name %> בטיפול עד <%= currentTherapist.endTime %>
                </span>
                <% } else { %>
                <p>החדר פנוי</p>
                <% } %>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="/script.js"></script>
    </body>

</html>